.body{
background-color:coral;}

form {
  width: 500px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #45a049;
}
